	html{font-size:100%;}
    @media(min-width:60em){html{font-size:100%;}}

   body
	 {
	 background-color:#006666;
   color: #CCCCCC;
   font-family: 'Open Sans', sans-serif;
   font-size:16px;
   text-align: left;
	 margin: auto;
	 margin-left: auto;
	 margin-right: auto
	 }

    h1
  	{
    font-size:200%;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing:4px;
    text-decoration:none;
  	}

    h2
  	{
    font-size:150%;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing:2px;
    text-decoration:none;
  	}

    h3
    {
    font-size:133%;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing:2px;
    text-decoration:none;
    }

    p
    {
    font-size:100%;
    width:auto;
    height:auto;
    margin-bottom: 1px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    letter-spacing:0px;
    text-decoration:none;
    }

  	img
  	{
  	width: auto;
  	height: auto;
		margin-top: 1%;
  	margin-left: auto;
  	margin-right: auto;
    max-width: 75%;
  	display: block;
    padding:15px;
    border-width: thick;
  	border-color: black;
  	}

    a
    {
     color:#CCCCCC;
    }

		address
		{
		 text-align: left;
		}

		.consulting-section
		{
		 text-align: center;
 		 display: inline-block;
		 margin-top: 1%;
		 margin-left: 10%;
		 margin-right: 10%;
		}

		.consulting-section > ul
		{
			text-align: left;
			display: inline-block;
		}

		.consulting-section > ul > li
		{
			text-align: left;
			font-size: 16px;
		}

    .consulting-section > p
    {
			text-align: left;
    }

		.about-div
		{
     text-align: center;
		 margin-left: 10%;
		 margin-right: 10%auto;
		}

		.intro-section > h3
		{
		padding-bottom: 1px;
		padding-top: 1px;
		}

		.col-xs-12 > a
		{
			color: #333333;
		}

		.col-xs-12 > h4 > a
		{
			color: #333333;
			text-decoration: underline;
		}

		.col-xs-12 > h5
		{
			color: #333333;
		}

		.col-xs-12 > p
		{
			color: #333333;
		}

		.who-am-i
		{
		margin-left: 10%;
		margin-right: 10%;
		display: inline-block;
		text-align: left;
		}

		.who-am-i > p > a
		{
			text-decoration: underline;
		}

		.about-section
		{
		width: auto;
		height: auto;
		display: block;
		text-align: center;
		margin-left: 10%;
		margin-right: 10%;
		max-width: 500px;
		}

		.about-section > p > a
		{
		text-decoration: underline;
		}

        .cv-section > .container > .row > .col-lg-12 > h1
        {
        width: auto;
        height: auto;
        text-align: left;
		font-family: 'Open Sans', sans-serif;
        }

        .cv-section > .container > .row > .col-lg-12 > h2
        {
        width: auto;
        height: auto;
        text-align: left;
		font-family: 'Open Sans', sans-serif;
		padding-bottom: 3px;
		padding-top: 10px;
        }

		.job-duties
		{
		padding-bottom: 3px;
		}

		.job-details
		{
		padding-bottom: 8px;
		}

		.job-details > h4
		{
        width: auto;
        height: auto;
		margin-bottom:0px;
		margin-top: 7px;
        text-align: left;
		font-size: 17px;
		font-size-adjust: auto;
		font-family: 'Open Sans', sans-serif;
		}

		.job-details > h5
        {
        width: auto;
		height: auto;
		margin-bottom: 0px;
		margin-top: 2px;
        text-align: left;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
        }

        .cv-section > .container > .row > .col-lg-12 > h3
        {
        width: auto;
        height: auto;
        text-align: left;
		font-family: 'Open Sans', sans-serif;
        }

        .cv-section > .container > .row > .col-lg-12 > h4
        {
        width: auto;
        height: auto;
        text-align: left;
		font-size: 17px;
		font-size-adjust: auto;
		font-family: 'Open Sans', sans-serif;
        }

		.cv-section > .container > .row > .col-lg-12 > h5
        {
        width: auto;
		height: auto;
        text-align: left;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
        }

        .cv-section > .container > .row > .col-lg-12 > p
        {
        width: auto;
        height: auto;
		font-size: 14px;
		font-size-adjust: auto;
        text-align: left;
		font-family: 'Open Sans', sans-serif;
        }

		.footer
		{
		position: relative;
    	left: 0;
    	bottom: 0;
		height: 15px;
    	width: 100%;
		border: 10px solid transparent;
		border-color:#0f0f0f;
		background-color: #82BB99;
		}

		.oh-well
		{
		display: flex;
		flex-flow: row wrap;
		justify-content: left;
		padding: 10px 10px 10px 10px;
		background-color:#D5DBDB;
		}

		.oh-well > .row > .col-xs-12 > p
		{
		text-align: left;
		font-size: 14px;
		}

		.presentation-section > .container > .oh-well > .row
		{
		display: flex;
		}

		.text-left
		{
		font-size: 14px;
		}

		table
		{
		text-align: left;
		}

		tr
		{
		text-align: left;
		}

		td
		{
		text-align: left;
		}

		.contact-section
		{
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin-top: 50px;
		}

		.emails
		{
			text-align: left;
			margin-left: auto;
			margin-right: auto;
		  display: inline-block
		}

		.github
		{
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		  display: inline-block
		}

		.github > p > a
		{
			text-decoration: underline;
		}

		.presentation-section > .container > .oh-well > .row > .col-sm-12 > table > tr > td > p
		{
		text-align:left;
		font-size: 14px;
		}

		time
		{
		text-align:left;
		font-size: 14px;
		color: #333333;
		}

		.blog_post
		{

		}

		ul
		{
		margin-top: 0px;
		margin-bottom: 0px;
		}

    ul li
    {
    width: auto;
    height: auto;
    margin-left: 0px;
    list-style-position: outside;
    text-align: left;
		font-size: 14px;
		font-size-adjust: auto;
		font-family: 'Open Sans', sans-serif;
    }
