    		html{font-size:100%;}
        @media(min-width:60em){html{font-size:100%;}}

        body
  		{
    		background-color:#74BC91;
    		font-family: 'Open Sans', sans-serif;
        font-size:16px;
  		}
  
        h1
      	{
        font-size:200%;
        margin-left:auto;
        margin-right:auto;
        margin-top:auto;
        text-align:center;
        font-family: 'Open Sans', sans-serif;
        letter-spacing:4px;
        text-decoration:none;
        color:#252A27;
      	}
      	
        h2
      	{
        font-size:150%;
        margin-left:auto;
        margin-right:auto;
        margin-top:auto;
        text-align:center;
        font-family: 'Open Sans', sans-serif;
        letter-spacing:2px;
        text-decoration:none;
        color:##252A27;
      	}

        h3
        {
        font-size:133%;
        text-align:center;
        font-family: 'Open Sans', sans-serif;
        letter-spacing:2px;
        text-decoration:none;
        color:##252A27;  
        }

        p
        {
        font-size:100%;
        width:auto;
        height:auto;
        margin-bottom: auto;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
        font-family: 'Open Sans', sans-serif;
        letter-spacing:2px;
        text-decoration:none;
        color:##252A27;   
        }
      	
      	img
      	{
      	width: auto;
      	height: auto;
      	margin-left: auto;
      	margin-right: auto;
        max-width: 100%;
      	display: block;
        padding:15px;
      	}

        a
        {
        color:#6E7370;  
        }

        .cv-section h1
        {
        width: auto;
        height: auto;
        text-align: center; 
        }

        .cv-section h2
        {
        width: auto;
        height: auto;
        text-align: center; 
        }

        .cv-section h3
        {
        width: auto;
        height: auto;
        text-align: center; 
        }

        .cv-section h4
        {
        width: auto;
        height: auto;
        text-align: center; 
        }

        .cv-section p
        {
        width: auto;
        height: auto;
        text-align: center; 
        }

        .list ul
        {
        width: auto;
        height: auto;
        display: inline-block;
        text-align: left; 
        }  

        .list ul li
        {
        width: auto;
        height: auto;
        margin-left: 50px;
        list-style-type: square;
        list-style-position: outside;
        text-align: left; 
        }

        .tab
        {
        margin-left: 40px;
        }

        .post+.post:before 
        {
        display: block;
        content: '';
        width: 5rem;
        height: 1px;
        margin: 23px auto;
        background-color: lighten($text-color, 70%);
        }

        .byline 
        {
        display: block;
        color: lighten($text-color, 25%);
        line-height: 1.8em; 
        margin-bottom: 1.5em; /* 24px/16px */
        font-weight: 200;
        }