    	html{font-size:100%;}
        @media(min-width:60em){html{font-size:100%;}}

        body
  		{
    	background-color:#82BB99;
    	font-family: 'Open Sans', sans-serif;
        font-size:16px;
  		}
  
        h1
      	{
        font-size:200%;
        margin-left:auto;
        margin-right:auto;
        margin-top:auto;
        text-align:center;
        font-family: 'Open Sans', sans-serif;
        letter-spacing:4px;
        text-decoration:none;
        color:#252A27;
      	}
      	
        h2
      	{
        font-size:150%;
        margin-left:auto;
        margin-right:auto;
        margin-top:auto;
        text-align:center;
        font-family: 'Open Sans', sans-serif;
        letter-spacing:2px;
        text-decoration:none;
        color:#252A27;
      	}

        h3
        {
        font-size:133%;
        text-align:center;
        font-family: 'Open Sans', sans-serif;
        letter-spacing:2px;
        text-decoration:none;
        color:#252A27;  
        }

        p
        {
        font-size:100%;
        width:auto;
        height:auto;
        margin-bottom: 1px;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        text-align:center;
        font-family: 'Open Sans', sans-serif;
        letter-spacing:0px;
        text-decoration:none;
        color:#252A27;   
        }
      	
      	img
      	{
      	width: auto;
      	height: auto;
      	margin-left: auto;
      	margin-right: auto;
        max-width: 100%;
      	display: block;
        padding:15px;
		border-width: thick;
		border-color: black;
      	}

        a
        {
        color:#6E7370;  
        }

		address
		{
		text-align: center;	
		}

		.cv-link
		{
		text-align: center;
		padding-bottom: 20px;
		padding-top: 10px;
		}

		.cv-link > p > a
		{
		font-size: 18px;	
		}

		.intro-section > h3
		{
		padding-bottom: 1px;
		padding-top: 1px;
		}

		.who-am-i
		{
		margin-left: 100px;
		margin-right: 100px;
		display: block;
		text-align: center;
		}

		.about-section
		{
		width: auto;
		height: auto;
		display: block;
		text-align: center;
		margin-left: 100px;
		margin-right: 100px
		}

		.about-section > p
		{
		max-width: 425px;
		}

        .cv-section > .container > .row > .col-lg-12 > h1
        {
        width: auto;
        height: auto;
        text-align: center;
		font-family: 'Open Sans', sans-serif;
        }

        .cv-section > .container > .row > .col-lg-12 > h2
        {
        width: auto;
        height: auto;
        text-align: left;
		font-family: 'Open Sans', sans-serif;
		padding-bottom: 3px;
		padding-top: 10px;
        }

		.job-duties
		{
		padding-bottom: 3px;	
		}

		.job-details
		{
		padding-bottom: 8px;
		}

		.job-details > h4
		{
        width: auto;
        height: auto;
		margin-bottom:0px;
		margin-top: 7px;
        text-align: left;
		font-size: 17px;
		font-size-adjust: auto;
		font-family: 'Open Sans', sans-serif;
		}

		.job-details > h5
        {
        width: auto;
		height: auto;
		margin-bottom: 0px;
		margin-top: 2px;
        text-align: left;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
        }

        .cv-section > .container > .row > .col-lg-12 > h3
        {
        width: auto;
        height: auto;
        text-align: left;
		font-family: 'Open Sans', sans-serif;
        }

        .cv-section > .container > .row > .col-lg-12 > h4
        {
        width: auto;
        height: auto;
        text-align: left;
		font-size: 17px;
		font-size-adjust: auto;
		font-family: 'Open Sans', sans-serif;
        }

		.cv-section > .container > .row > .col-lg-12 > h5
        {
        width: auto;
		height: auto;
        text-align: left;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
        }
	
        .cv-section > .container > .row > .col-lg-12 > p
        {
        width: auto;
        height: auto;
		font-size: 14px;
		font-size-adjust: auto;
        text-align: left;
		font-family: 'Open Sans', sans-serif;
        }

		.footer
		{
		position: relative;
    	left: 0;
    	bottom: 0;
		height: 15px;
    	width: 100%;
		border: 10px solid transparent;
		border-color:#0f0f0f;
		background-color: #82BB99;
		}

		.oh-well
		{
		display: flex;
		flex-flow: row wrap;
		justify-content: left;
		padding: 10px 10px 10px 10px;
		background-color:#D5DBDB;
		}

		.oh-well > .row > .col-xs-12 > p
		{
		text-align: left;
		font-size: 14px;
		}

		.presentation-section > .container > .oh-well > .row
		{
		display: flex;
		}

		.text-left
		{
		font-size: 14px;	
		}

		table
		{
		text-align: left;	
		}
	
		tr
		{
		text-align: left;		
		}

		td
		{
		text-align: left;		
		}

		.presentation-section > .container > .oh-well > .row > .col-sm-12 > table > tr > td > p
		{
		text-align:left;
		font-size: 14px;
		}

		time
		{
		text-align:left;
		font-size: 14px;				
		}

		.blog_post
		{
			
		}

		ul
		{
		margin-top: 0px;
		margin-bottom: 0px;
		}

        ul li
        {
        width: auto;
        height: auto;
        margin-left: 0px;
        list-style-position: outside;
        text-align: left;
		font-size: 14px;
		font-size-adjust: auto;
		font-family: 'Open Sans', sans-serif;
        }